<h1> New Figure</h1>
<form action="/figures" method="POST">

<input type="text" name="figure[name]" id="figure_name" value=""/><br>
<h2>Existing Titles:</h2>
<%@titles.each do |t|%>
<input type="checkbox"name="figure[title_ids][]" id="title_<%=t.id%>" value="<%=t.id%>"><%=t.name%></input>
<%end%>
<h2>Existing Landmarks:</h2>
<%@landmarks.each do |l|%>
<input type="checkbox" name="figure[landmark_ids][]" value="<%=l.id%>" id="landmark_<%=l.id%>"><%=l.name%></input>
<%end%><br>
<h4>New Title:</h4> <input type="text" name="title[name]" id="new_title" value=""/><br>
<h4>New Landmark:</h4> <input type="text" name="landmark[name]" id="new_landmark" value=""/><br>
<input type="submit" name="submit" id="submit"value="Create New Figure"/>
</form>